@import "../../scss/variables.scss";

.t-button--normalize {
  &::after {
    display: none;
  }
}

.t-button,
.t-button:hover {
  position: relative;
  background: #ccc;
  text-align: center;
  font-size: 32px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  transition: all 0.3s;
}

.t-button--block {
  display: block;
}

.t-button--small {

}

.t-button--primary,
.t-button--primary:hover, {
  background: $primary !important;
  color: #fff !important;
}

.t-button--success,
.t-button--success:hover, {
  background: $success !important;
  color: #fff !important;
}

.t-button--warning,
.t-button--warning:hover, {
  background: $warning !important;
  color: #fff !important;
}

.t-button--danger,
.t-button--danger:hover, {
  background: $danger !important;
  color: #fff !important;
}

.t-button:active {
  opacity: 0.95;
}
