.t-button--normalize {
  display: inline;
  color: $fontColor;
  font-family: $fontFamily;
  box-sizing: border-box;
  transition: all 0.2s;
  user-select: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  background: #ccc;
  margin: 0;

  &::after {
    border-width: 0;
  }
}

@keyframes t-button {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.t-button--color {
  &-primary,
  &-primary:hover {
    background: $primary !important;
    color: #fff !important;
  }

  &-success,
  &-success:hover {
    background: $success !important;
    color: #fff !important;
  }

  &-warning,
  &-warning:hover {
    background: $warning !important;
    color: #fff !important;
  }

  &-danger,
  &-danger:hover {
    background: $danger !important;
    color: #fff !important;
  }
}

.t-button:active {
  opacity: 0.75;
}

.t-button--block {
  display: block;
}

.t-button--disabled {
  opacity: 0.4 !important;
  cursor: not-allowed;
}

.t-button--size {
  &-default {
    font-size: 34px;
    padding: 7px 15px;
  }

  &-mini {
    font-size: 30px;
    padding: 4px 10px;
  }
}

.t-button--shape {
  &-rounded {
    border-radius: 100px;
  }

  &-rectangular {
    border-radius: 0;
  }
}

.t-button--loading,
.t-button--loading:hover {
  opacity: 0.6;
  cursor: not-allowed;

  &::before {
    animation: t-button 500ms infinite linear;
    border: 4px solid #fff;
    border-radius: 100%;
    border-top-color: transparent !important;
    content: " ";
    display: block;
    height: 32px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
  }
}

.t-button--fill-outline {
  background: transparent !important;

  &::after {
    display: block;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform-origin: 0 0;
    transform: scale(0.5);
    border: 2px solid #ccc;
    border-radius: inherit;
  }

  &.t-button--color {
    &-primary,
    &-primary:hover {
      background: inherit !important;
      color: $primary !important;

      &::after {
        border-color: $primary;
      }
    }

    &-success,
    &-success:hover {
      background: inherit !important;
      color: $success !important;

      &::after {
        border-color: $success;
      }
    }

    &-warning,
    &-warning:hover {
      background: inherit !important;
      color: $warning !important;

      &::after {
        border-color: $warning;
      }
    }

    &-danger,
    &-danger:hover {
      background: inherit !important;
      color: $danger !important;

      &::after {
        border-color: $danger;
      }
    }
  }
}

.t-button--hidden {
  visibility: hidden;
}

