$fontFamily: -apple-system, blinkmacsystemfont, "Helvetica Neue", helvetica, segoe ui, arial, roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;

$primary: #39f;
$success: #0c6;
$warning: #f90;
$danger: #f30;
